<!--<div class="row">-->
            <!--&lt;!&ndash;<div class="col-lg-6">&ndash;&gt;-->
                <!--&lt;!&ndash;<h1 class="lead pull-right">Beauty</h1>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<div class="col-lg-12">-->
                <!--&lt;!&ndash;<h1 class="lead pull-right"></h1>&ndash;&gt;-->
                <!--<h1 class="lead">Beauty</h1>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="col-lg-2">&ndash;&gt;-->
                <!--&lt;!&ndash;<h1></h1>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->

<div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Beauty Gallery</h3>
            </div>
</div>


<div class="row">
            <div class="col-lg-12">
                <!--<ul class="gallery gallery3">-->
                <ul class="gallery gallery5">
                    <!--<li ng-repeat="image in images">-->
                    <!--<li ng-repeat="n in range(0,15)">-->
                    <li ng-repeat="image in images">
                        <a ng-click="openLightboxModal($index)">
                            <!--<img style="width:{{image.width}};height:{{image.height}}" ng-src="{{image.thumbUrl}}" class="img-thumbnail">-->
                                <img ng-src="{{image.thumbUrl}}" class="img-thumbnail">
                        </a>
                    </li>
                </ul>
            </div>
</div>

<!--&lt;!&ndash;<ul class="gallery gallery3">&ndash;&gt;-->
<!--<ul class="gallery gallery5">-->
    <!--&lt;!&ndash;<li ng-repeat="image in images">&ndash;&gt;-->
    <!--&lt;!&ndash;<li ng-repeat="n in range(0,15)">&ndash;&gt;-->
        <!--<li ng-repeat="image in images">-->
            <!--<a ng-click="openLightboxModal($index)">-->
                <!--&lt;!&ndash;<img style="width:{{image.width}};height:{{image.height}}" ng-src="{{image.thumbUrl}}" class="img-thumbnail">&ndash;&gt;-->
                <!--<img ng-src="{{image.thumbUrl}}" class="img-thumbnail">-->
            <!--</a>-->
        <!--</li>-->
<!--</ul>-->



<!--<div class="row">-->
            <!--<div class="col-lg-3 col-md-4 col-xs-6 thumb">-->
                <!--<a class="thumbnail" href="#">-->
                    <!--<img class="img-responsive" src="http://placehold.it/400x300" alt="">-->
                <!--</a>-->
            <!--</div>-->
<!--</div>-->