<div class="row">
    <div class="col-lg-1">

    </div>

    <div class="col-lg-4">
                <img class="img-responsive" src="images/profile_pic.jpeg"  />
                <!--<img src="http://placehold.it/400x400" />-->
    </div>

    <div class="col-lg-1">

    </div>

    <div class="col-lg-6">
        <h4 align="justify">
            WELCOME! I'M GLAD YOU'RE HERE!
        </h4>
        <p align="justify">
            I’m Harshita Singhal, Professional Makeup Artist. I live in Beaverton, OR and I am available for work locally and globally.
        </p>
        <p align="justify">
                Originally hailing from India, I have lived and worked in Mumbai, Pune, Bhilai and Beaverton. I have a degree in Applied Arts from Pune University, with a specialization in Visualization. My education in the arts and love of it provides the foundation for my makeup artistry, and I am truly thankful to have a career that allows me to work creatively on a daily basis. In fall 2016, I completed the Master Class Certificate Program from Art of Makeup School located in Vancouver, WA, USA. The Pacific Northwest's only licensed school for makeup training. Where I have learned proper application and technique.
        </p>
        <p align="justify">
                My passion for makeup artistry began at a very young age. It was my mother’s beauty and the products she used that inspired me the most to follow my dream. As makeup trends are always changing and each individual has different needs, I don't limit myself to certain styles. I love making people feel beautiful. My eyes light up when I transform someone. Other than makeup I love painting, hanging out with friends and travelling. I am inspired by every person, nature and textures I see.
        </p>
        <p align="justify">
                Please let me know how I can help you! Head to my Contact Page and send me a message, or email me directly at <b>harshitasinghal.mua@gmail.com</b>
        </p>
    </div>
</div>