<div class="row">
    <div class="col-lg-1">

    </div>

    <div class="col-lg-4">
                <img src="images/IMG_5453.JPG" class="img-responsive" />
                <!--<img src="http://placehold.it/400x400" />-->
    </div>

    <div class="col-lg-1">

    </div>

    <div  class="col-lg-6">
                <h4>My contact info</h4>
                <p><a href="mailto:harshitasinghal@gmail.com">harshitasinghal.mua@gmail.com</a>
                </p>
                <p><a>503-453-3489</a></p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://www.facebook.com/makeupbyharshita/" class="btn btn-default btn-lg"><i class="fa fa-facebook-square"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/harshitasinghal/" class="btn btn-default btn-lg"><i class="fa fa-instagram"></i> <span class="network-name">Instagram</span></a>
                    </li>
                    <!--
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                    -->
                </ul>
    </div>
</div>
