<div class="row">
            <div class="col-lg-2">
                <h1></h1>
            </div>

            <div class="col-lg-8">
                <img src="images/front_pic.jpeg" class="img-rounded img-responsive" align="middle"/>
                <!--<img src="http://placehold.it/764x1146" />-->
            </div>

            <div class="col-lg-2">
                <h1></h1>
            </div>
</div>


<!--https://stackoverflow.com/questions/8992577/css-img-align-how-to-set-a-img-middle-right-align-in-a-div-->